//section-title
.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;

  &.section__title--testimonials {
    margin-bottom: 4rem;
  }

  .section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  h3.section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
  }
}

/* FEATURES */
.features {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 4rem;
  margin: 0 12rem;

  .features__feature {
    // align-self: center;
    // justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 40px;
    width: 50%;
    font-size: 1.5rem;
    .features__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary-opacity);
      height: 5.5rem;
      width: 5.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-primary);
      }
    }

    .features__header {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}

//new

.feature__article-normal,
.feature__article-reversed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .feature_image {
    width: 50%;
    .features__img {
      width: 100%;
    }
  }
}

.feature__article-normal {
  .feature_image {
    margin-right: 70px;
  }
}

.feature__article-reversed {
  flex-direction: row-reverse;

  .feature_image {
    margin-left: 70px;
  }
}

@media screen and (max-width: 985px) {
  .features {
    margin: 0;
  }
}

@media screen and (max-width: 667px) {
  .feature__article-normal,
  .feature__article-reversed {
    flex-direction: column;
    align-items: center;

    .feature_image {
      width: 100%;
      object-fit: cover;
    }

    .features__feature {
      width: 100%;
      padding: 40px 0;
    }
  }

  .feature__article-normal {
    .feature_image {
      margin-right: 0;
    }
  }
  .feature__article-reversed {
    .feature_image {
      margin-left: 0;
    }
  }
}

.section__title {
  .section__header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 487px) {
  .section__title {
    h3.section__header {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 487px) {
  .features {
    .features__icon {
      margin: 0 auto 2rem auto;
    }
  }
}
