//header title

.header__title {
  padding: 270px 20px 0 20px;
  flex: 1;
  margin: 0 auto;
  max-width: 115rem;
  display: flex;
  // display: grid;
  // grid-template-columns: 3fr 2fr;
  // row-gap: 3rem;
  // align-content: center;
  // justify-content: center;
  // align-items: start;
  // justify-items: start;

  .header_banner--text {
    width: 50%;
    flex: 1;
  }

  .header_banner--img {
    width: 30%;
    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 4.5rem;
    line-height: 1.35;
    color: #444;
    .highlight {
      position: relative;
      &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        transform: scale(1.07, 1.05) skewX(-15deg);
        background-image: var(--gradient-primary);
      }
    }
  }

  h4 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .header__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }
}

@media screen and (max-width: 795px) {
  .header__title {
    flex-direction: column;
    align-items: center;
    padding-top: 200px 0 0 0;

    .header_banner--text {
      width: 100%;
      flex: 1;
    }

    .header_banner--img {
      display: none;
    }
  }
}

@media screen and (max-width: 532px) {
  .header__title h1 {
    font-size: 3.5rem;
  }
}
