//menu
header {
  width: 100%;
  max-width: 128rem;
  position: relative;
  margin: 0 auto;
}

.navigation {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 30px;
  &.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    .nav__item {
      margin-left: 4rem;
      .nav__link {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        padding: 7px 15px;
        border-radius: 2px;
        transition: 0.3s;
        font-size: 1rem;

        &.nav__link--btn:link,
        &:visited {
          padding: 0.8rem 2.5rem;
          border-radius: 3rem;
          // color: #222;
        }

        &:link,
        &:active {
          font-size: 1.5rem;
          font-weight: 400;
          // color: inherit;
          text-decoration: none;
          display: block;
          transition: all 0.3s;
        }
      }
      .btn--open_account {
        text-decoration: none;
        color: #444;
        font-size: 1.7rem;
        padding: 0.8rem 2.5rem;
        border-radius: 3rem;
        background: var(--color-primary);
      }
    }
  }

  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
    display: block;
  }

  .checkbtn {
    font-size: 30px;
    color: whitesmoke;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 918px) {
  .navigation {
    padding: 10px;
    position: fixed;
    background: var(--gradient-mobile);

    .nav__logo {
      display: none;
    }

    .checkbtn {
      display: flex;
      justify-content: flex-end;
    }

    .nav__links {
      position: fixed;
      color: white;
      z-index: 100;
      width: 100%;
      height: 100vh;
      left: -100%;
      transition: all 0.5s;
      background: var(--gradient-mobile);
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      top: 50px;

      &.display-menu {
        left: 0;
      }

      .nav__item {
        color: white;
        margin: 50px 0;
        .nav__link {
          color: white;
          font-size: 1.7rem;
        }
        .btn--open_account {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .navigation {
    .checkbtn {
      margin-right: 0;
    }
  }
}
