@import './header';
@import './menu';
@import './features';
@import './operations';
@import './slider';
@import './sign-up';
@import './footer';
@import './pop-up';
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: $color-white;
}

//section
.section {
  padding: 15rem 3rem;
  border-top: 1px solid $color-white;

  transition: transform 1s, opacity 1s;
  &.section--hidden {
    transform: translatey(8rem);
    opacity: 0;
}
}

//button
.btn {
  display: inline-block;
  background-color: $color-primary;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $color-primary-darker;
  }
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: $color-primary;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
