.header__title {
  padding: 270px 20px 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  max-width: 115rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title .header_banner--text {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__title .header_banner--img {
  width: 30%;
}

.header__title .header_banner--img img {
  width: 100%;
}

.header__title h1 {
  font-size: 4.5rem;
  line-height: 1.35;
  color: #444;
}

.header__title h1 .highlight {
  position: relative;
}

.header__title h1 .highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
          transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.header__title h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__title .header__img {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

@media screen and (max-width: 795px) {
  .header__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 200px 0 0 0;
  }
  .header__title .header_banner--text {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__title .header_banner--img {
    display: none;
  }
}

@media screen and (max-width: 532px) {
  .header__title h1 {
    font-size: 3.5rem;
  }
}

header {
  width: 100%;
  max-width: 128rem;
  position: relative;
  margin: 0 auto;
}

.navigation {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 30px;
}

.navigation.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.navigation .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation .nav__links .nav__item {
  margin-left: 4rem;
}

.navigation .nav__links .nav__item .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 7px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
}

.navigation .nav__links .nav__item .nav__link.nav__link--btn:link, .navigation .nav__links .nav__item .nav__link:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
}

.navigation .nav__links .nav__item .nav__link:link, .navigation .nav__links .nav__item .nav__link:active {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation .nav__links .nav__item .btn--open_account {
  text-decoration: none;
  color: #444;
  font-size: 1.7rem;
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background: var(--color-primary);
}

.navigation .nav__logo {
  height: 4.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

.navigation .checkbtn {
  font-size: 30px;
  color: whitesmoke;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 918px) {
  .navigation {
    padding: 10px;
    position: fixed;
    background: var(--gradient-mobile);
  }
  .navigation .nav__logo {
    display: none;
  }
  .navigation .checkbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation .nav__links {
    position: fixed;
    color: white;
    z-index: 100;
    width: 100%;
    height: 100vh;
    left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: var(--gradient-mobile);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 50px;
  }
  .navigation .nav__links.display-menu {
    left: 0;
  }
  .navigation .nav__links .nav__item {
    color: white;
    margin: 50px 0;
  }
  .navigation .nav__links .nav__item .nav__link {
    color: white;
    font-size: 1.7rem;
  }
  .navigation .nav__links .nav__item .btn--open_account {
    color: white;
  }
}

@media screen and (max-width: 535px) {
  .navigation .checkbtn {
    margin-right: 0;
  }
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__title.section__title--testimonials {
  margin-bottom: 4rem;
}

.section__title .section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__title .section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

/* FEATURES */
.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features .features__img {
  width: 100%;
}

.features .features__feature {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features .features__feature .features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features .features__feature .features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features .features__feature .features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #fff;
}

.operations .operations__tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.operations .operations__tab-container .operations__tab {
  margin-right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.operations .operations__tab-container .operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations .operations__tab-container .operations__tab.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations .operations__tab-container .operations__tab.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations .operations__tab-container .operations__tab.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations .operations__tab-container .operations__tab.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations .operations__tab-container .operations__tab.operations__tab--active {
  -webkit-transform: translateY(-66%);
          transform: translateY(-66%);
}

.operations .operations__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations .operations__icon.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.operations .operations__icon.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}

.operations .operations__icon.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}

.operations .operations__icon.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}

.operations .operations__icon.operations__icon--2 svg {
  fill: var(--color-primary);
}

.operations .operations__icon.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

.operations .operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations .operations__content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations .operations__content.operations__content--active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 1fr;
      grid-template-columns: 7rem 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations .operations__content p {
  -ms-grid-column: 2;
  grid-column: 2;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* TESTIMONIALS */
}

.slider .slide .testimonial {
  width: 65%;
  position: relative;
}

.slider .slide .testimonial::before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.slider .slide .testimonial .testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.slider .slide .testimonial .testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.slider .slide .testimonial .testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.5rem 1fr;
      grid-template-columns: 6.5rem 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.slider .slide .testimonial .testimonial__author .testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0;
}

.slider .slide .testimonial .testimonial__author .testimonial__location {
  font-size: 1.5rem;
}

.slider .slide .testimonial .testimonial__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.slider .slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider .slider__btn.slider__btn--left {
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .slider__btn.slider__btn--right {
  right: 6%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.slider .dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.slider .dots__dot:last-child {
  margin: 0;
}

.slider .dots__dot.dots__dot--active {
  /* background-color: rgb(46, 46, 46); */
  background-color: #888;
  opacity: 1;
}

.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

.section__title h3 {
  margin-bottom: 6rem;
  color: #444;
}

.section__title h4 {
  margin-bottom: 6rem;
  color: white;
}

.section__header {
  text-align: center;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer .footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.footer .footer__nav .footer__item {
  margin-right: 4rem;
}

.footer .footer__nav .footer__item .footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer .footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer .footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer .footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal .btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.modal .modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal .modal__form {
  margin: 0 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.modal .modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal .modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal .modal__form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.cookie-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-mobile: linear-gradient(to top left, #39b385, #5de179);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=scss.css.map */